<%- include('../includes/head.ejs') %>
<body>
    <%- include('../includes/navigation.ejs') %>

    <h2>Your Bookings.....</h2>
    <main>
            <% if (hit.length > 0) { %>
                <div class="grid">
                    <% for (let hits of hit) { %>
                        <article class="card product-item">
                                <h1 class="product__title">Name:<%= hits.firstName+ " " + hits.lastName %></h1>
                                <h1 class="product__title">E-mail:<%= hits.email %></h1>
                                <h1 class="product__title">Address:<%= hits.address %></h1>
                                <h1 class="product__title">Phone Number:<%= hits.phone %></h1>
                                <h1 class="product__title">Room Type:<%= hits.bookings.rooms.roomType %></h1>
                                <h1 class="product__title">Price:<%= hits.bookings.rooms.roomPrice %></h1>
                                <h1 class="product__title">Check In date:<%= hits.checkIn %></h1>
                                <h1 class="product__title">Check Out date:<%= hits.checkOut %></h1>
                                <h1 class="product__title">Number Of rooms:<%= hits.noOfRoom %></h1>
                                <h1 class="product__title">Number Of Guest:<%= hits.noOfGuest %></h1>
                                <div class="card__actions">
                                        <a href="/admin/edit-booking/<%= hits.id %>" class="btn">Edit</a>
                                    <form action="/admin/delete-booking" method="post">
                                        <input type="hidden" value="<%= hits._id %>" name="bookingId">
                                      <button class="btn" type="submit">Delete</button>
                                   </form>
                                </div>
                        </article>
                    <% } %>
                </div>
            <% } else { %>
                <h1>No Products Found!</h1>
            <% } %>
        </main>
    <%- include('../includes/end.ejs') %>