<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a></li>
            <li class="main-header__item"><a class="<%= path === '/hotels' ? 'active' : '' %>" href="/hotels">Hotels</a></li>
            <li class="main-header__item"><a class="<%= path === '/mybooking' ? 'active' : '' %>" href="/mybooking">My Bookings</a></li>
            <li class="main-header__item"><a class="<%= path === '/admin/add-hotel' ? 'active' : '' %>" href="/admin/add-hotel">Add Hotel</a></li>
            <li class="main-header__item"><a class="<%= path === '/admin/hotels' ? 'active' : '' %>" href="/admin/hotels">Admin Hotels</a></li>
        </ul>
    </nav>
</header>

<nav class="mobile-nav">
        <ul class="mobile-nav__item-list">
            <li class="mobile-nav__item"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a></li>
            <li class="mobile-nav__item"><a class="<%= path === '/hotels' ? 'active' : '' %>" href="/hotels">Hotels</a></li>
            <li class="mobile-nav__item"><a class="<%= path === '/mybooking' ? 'active' : '' %>" href="/mybooking">My Bookings</a></li>
            <li class="mobile-nav__item"><a class="<%= path === '/admin/add-hotel' ? 'active' : '' %>" href="/admin/add-hotel">Add Hotel</a></li>
            <li class="mobile-nav__item"><a class="<%= path === '/admin/hotels' ? 'active' : '' %>" href="/admin/hotels">Admin Hotels</a></li>
        </ul>
</nav>